body {
  background: #03071E;
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 100%;
  max-width: 800px;
  margin: 40px;
}

.container {
  background-color: white;
  padding: 20px;
}
